*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: monospace;
    background-color: black;
    color: white;
}

.h1,h2{
    display: inline-block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover,
.name:hover,
.nav-toggle:hover{
    cursor: pointer;
}

img{
    max-width: 100vw;
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0rem 0.1rem 0.8rem rgb(109, 107, 107);
    z-index: 100;
}

.header--scroll{
    background-color: grey;
    border-radius: 5rem;

}

.header{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96vw;
    padding: 1rem 2rem;
}

.title{
    font-size: 1.5rem;
    color: tomato;
}

.title span{
    color:black;
}

.nav-toggle{
    font-size: 1.5rem;
}

.nav-list{
    display: none;
    
    transition: ease-in 700ms;
}

.show-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38vh 2.7rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    border-radius: 0 10px 10px 0;
    background-color:rgb(179, 179, 179);
    z-index: 1000;
}

.nav-item{
    font-size: 1.3rem;
    font-weight: 800;
}

.nav-link{
    color: black;
}

.scroll-bar{
    top: 57px;
    height: 3px;
    background-color: aquamarine;
    z-index: 1000;
}

.scroll-progress{
    width: 0;
    height: inherit;
    background-color: tomato;
}

.hero::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 95vh;
    opacity: 0.6;
    border-radius: 0 0  2% 20%;
    background-image: url('me1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 190%;
    z-index: -1;
}

.hero::after{

}

.hero{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 7rem;
}

.profession{
    padding: 1rem 0;
}

.job{
    font-size: 1.4rem;
    font-family: cursive;
    color:royalblue;
}

.name{
    padding: 0 1rem;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}