*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: monospace;
    background-color: black;
    color: white;
}

h1,h2,img{
    display: inline-block;
}

ul{
    list-style: none;
}

img{
    display: block;
}

button{
    border: none;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

a:hover,
.name:hover,
.nav-toggle:hover,
.title:hover{
    cursor: pointer;
}

img{
    max-width: 100vw;
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0rem 0.2rem 0.5rem black;
    z-index: 10;
    margin-top: 10px;
}

.header--scroll{
    background-color: grey;
    border-radius: 0.5rem;
    overflow: hidden;
}

.header{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96vw;
    padding: 0.3rem 1rem;
}

.logo{
    width: 40px;
    border-radius: 50%;
}

.title{
    font-size: 1rem;
    color: rgb(42, 69, 148);
    
    padding: 0 5px;
}

.title-link{
    display: flex;
    align-items: center;
}

.title-name{
    font-family: monospace;
    color:black;
    font-weight: 100;
}

.nav-toggle{
    font-size: 1.5rem;
    color: rgb(17, 42, 119);
}

.nav-list{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 35vh 2.7rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 97vh;
    border-radius: 0 10px 10px 0;
    background-color:rgb(179, 179, 179);
    z-index: 1000;
}

.hide-nav{
    display: flex;
    transform: translateX(-110%);
    animation: slide-in 500ms;
}

.show-nav{
    display: flex;
    transform: translateX(0%);
    animation: slide-out 500ms;
}

@keyframes slide-out {
    0%{
        transform: translateX(-100%);

    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-in {
    0%{
        transform: translateX(0%);

    }
    100%{
        transform: translateX(-110%);
    }
}

.nav-item{
    font-size: 1.3rem;
    font-weight: 800;
}

.nav-link{
    color: black;
}

.scroll-bar{
    top: 57px;
    height: 3px;
    background-color: aquamarine;
    z-index: 1000;
}

.scroll-progress{
    width: 0;
    height: inherit;
    background-color: royalblue;
}

.hero::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 95vh;
    opacity: 0.4;
    border-radius: 0 0  2% 20%;
    background-image: url('me1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 190%;
    z-index: -1;
}

.hero::after{
    
}

.hero{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 7rem;
}

.profession{
    padding: 1rem 0;
}

.job{
    font-size: 1.4rem;
    font-family: cursive;
    color:royalblue;
}

.name{
    padding: 0 1rem;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.chat{
    position: absolute;
    bottom: 3.5rem;
    right: 10px;
    font-size: 1.3rem;
    background-color: rgb(115, 228, 115);
    color: white;
    font-family: monospace;
    padding: 0.7rem;
    border-radius: 15px;
    border: 2px white solid;
}

.chat i{
    padding: 5px;
}

section{
    margin: 0.5rem 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 2rem 0;
    border-radius: 2rem;
    overflow: hidden;
    border: 2px royalblue solid;
}

.section-title{
    text-align: center;
    display: block;
    font-size: 2rem;
    padding: 5rem 0 1rem;
    color: royalblue;
}

.project-display{
    position: relative;
    width: 90vw;
    background-color: inherit;
}

.project-display img{
    max-width: 90vw;
}

.project-display i{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 2rem;
}

.tags{
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    font-size: 0.8rem;
}

.tags span{
    padding: 0.2rem;
    color: white;
    border-radius: 1rem;
}

.html{
    background-color:tomato;
}
.css{
    background-color:slateblue;
}
.js{
    background-color:springgreen;
}

.project-text{
    background-color: white;
    color: black;
    padding: 1.5rem;
}

.project-title{
    font-size: 1.5rem;
}

.project-about{
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;

}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.line{
    height: 2px;
    width: 90vw;
    background-color: rgb(42, 69, 148);
}

.socials{
    padding: 1rem;
}

.socials i{
    font-size: 2rem;
    padding: 0 1rem;
    color: royalblue;
}

.about{
    padding: 0 1.5rem;
}

.about-text{
    font-size: 1.2rem;
}

.pending img{
    opacity: 0.2;
}

.pending .project-display::before{
    position: absolute;
    content: "Coming Soon...";
    color: royalblue;
    top: 50%;
    left: 22%;
    font-size: 2rem;
}












@media screen and (min-width:1000px) {

    .header--scroll{
        border-radius: 0.5rem;
    }

    .header{
        height: 1rem;
        border-radius: 2px;
    }

    .title{
        font-size: 1rem;
    }

    .nav-toggle{
        font-size: 1rem;
    }

    .hero::before{
        background-image: url('me5.jpg');
        background-size: cover;
        
    }
}